{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
  <div class="w-full my-8 p-4 bg-white">
    <!-- Card -->
    <div class="space-y-4 mt-4">
      <div class="bg-gray-100 p-2">
        <div class="flex justify-between space-x-2">
          <div class="flex text-gray-500 text-base items-center">
            <small>b/</small>
            &nbsp;
            <small class="font-light">•&nbsp;Posted by u/user ago</small>
          </div>
        </div>
        <h3>nknknknkknjk</h3>
      </div>
    </div>
  </div>
{% endblock %}
