<div>
  <h3 class="text-2xl font-bold p-4">Polls</h3>
  <div class="mx-12">
    <label for="helper-text" class="block mb-2 text-sm font-medium text-black dark:text-black">Polls Question</label>
    <input type="text" id="" aria-describedby="helper-text-explanation" class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-200 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Poll Question" />
    <p id="helper-text-explanation" class="mt-2 text-sm text-black dark:text-gray-400">This is the polls question</p>
  </div>
  <h3 class="text-base font-bold p-4">Polls Options</h3>
  <h3 class="text-sm opacity-50 font-bold p-4">* The options provided will be displayed to the users</h3>
  <h3 class="text-sm opacity-50 font-bold p-4">* not all options are required</h3>

  <div class="mx-12">
    <label for="helper-text" class="block mb-2 text-sm font-medium text-black dark:text-black">First Option</label>
    <input type="text" id="" aria-describedby="helper-text-explanation" class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-200 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Poll Question" />
  </div>
  <div class="mx-12">
    <label for="helper-text" class="block mb-2 text-sm font-medium text-black dark:text-black">Second Question</label>
    <input type="text" id="" aria-describedby="helper-text-explanation" class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-200 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Poll Question" />
  </div>
  <div class="mx-12">
    <label for="helper-text" class="block mb-2 text-sm font-medium text-black dark:text-black">Third Question</label>
    <input type="text" id="" aria-describedby="helper-text-explanation" class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-200 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Poll Question" />
  </div>
  <div class="mx-12">
    <label for="helper-text" class="block mb-2 text-sm font-medium text-black dark:text-black">Fourth Question</label>
    <input type="text" id="" aria-describedby="helper-text-explanation" class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-200 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Poll Question" />
  </div>
</div>
