{% if page == 'sign_in' %}
<div class="login_form">
    <form action="" method="POST" enctype="multipart/form-data">
        <label>Email: </label>
        <input type="email" name="email" placeholder="Enter Your Registered Email">

        <label>Password: </label>
        <input type="password" name="password" placeholder="Enter Password">

        <input type="submit" value="Login">

        <small>Don't Have an Account ? <a href="{% url 'accounts:sign_up'%}"> Sign Up</a></small>


    </form>
</div>
{% endif %}


{% if page == 'sign_up' %}
<div class="registration_form">
    <form action="" method="POST" enctype="multipart/form-data">
        <label>Username: </label>
        {{form.username}}

        <label>Email: </label>
        {{form.email}}

        <label>Phone number: </label>
        {{form.phone_number}}

        <label>Password: </label>
        {{form.password1}}

        <label>Password Confirmation: </label>
        {{form.password2}}

        
        <input type="submit" value="Sign Up">

        <small>Already Have An Account ? <a href="{% url 'accounts:sign_in %}">Sign In</a></small>
        
    </form>
</div>
{% endif %}